.ui-button {
    &__transparent {
      padding: 16px 32px;
      color: white;
      border: 1px solid #ffffff;
      border-radius: 6px;
      transition: 0.3s;
      font-weight: 500;
      &:hover {
        background-color: white;
        color: black;
      }
    }
    &__solid {
      padding: 16px 32px;
      color: white;
      border: 1px solid #ffffff;
      border-radius: 6px;
      transition: 0.3s;
      font-weight: 500;
      background: linear-gradient(
          255.35deg,
          #dc3131 0.83%,
          rgba(255, 79, 79, 0) 108.93%
        ),
        #ff5e56;
      &:hover {
        background: linear-gradient(
            255.35deg,
            #610a0a 0.83%,
            rgba(255, 79, 79, 0) 108.93%
          ),
          #ff5e56;
      }
    }
}

.-white {
  color: white;
}

.-small {
  padding: 6px 24px;
}

.-medium {
  padding: 12px 40px;
}

.-admin-btn {
  font-size: 12px;
  padding: 2px 12px;
}

.chip {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 12px;
  margin-right: 8px;
  background-color: #EEF0F2;
  color: black;
  position: static;
  height: 24px;

  border-radius: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.-active {
  background-color: black;
  color: white;
}